@media screen and (max-width: 960px) {

	.col_logo {
		width: 23%;
	}

	.col_nav {
		width: 73%;
	}

	.col_img {
		width: 100%;
	}

	.col_text {
		width: 100%;
	}

	.col_p1, .col_p2 {
		width: 48%;
	}

	.banners {
		width: 100%;
	}

	.banner_1, .banner_2, .banner_3 {
		width: 30%;
	}

	.col_footer {
		width: 100%;
	}
}